*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	background-color: black;
	padding: 2px;
}
#dojo{
	padding-bottom: 10px;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
}
#lorem{
	padding-bottom: 10px;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
	text-align: justify;
}
.img{
	border: 5px solid gray;
	width: 284px;
	height: 190px;
}
#block1{
	display: block;
	padding-left: 4px;
}
#block2{
	display: block;
	padding-left: 4px;
}
.inlineblock{
	display: inline-block;
}